MONGO_URL="mongodb://localhost:27017"
DB_NAME="cdjcs"
JWT_SECRET="troque-para-uma-senha-forte-e-longa-aleatoria"
ADMIN_CPF="13480937497"
CORS_ORIGINS="*"
WEBAUTHN_RP_ID="localhost"
WEBAUTHN_ORIGIN="https://localhost"
